<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz!</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="app">
          
      {{{body}}}
      <a class="button" href="/">Home</a>
    </div>
  </body>
</html>