<form class="form" action="/nickname/form" method="post">
  {{!-- <img class="img-circle" src="{{image}}" alt="{{name}}"> --}}
  <label for="firstName" class="form-item">
    firstName:
    <input type="text" name="firstName" value="{{firstName}}">
  </label>
  
  <label for="lastName" class="form-item">
    lastName:
    <input type="text" name="lastName" value="{{lastName}}">
  </label>
</form>