<div class="container">
  {{!-- {{#each puppies}} --}}
  {{!-- <div class="puppy-list"> --}}
    {{!-- <a href="/puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a> --}}
    {{!-- </div> --}}
  {{!-- {{/each}} --}}
  <div class="nav">
    <a href="/nickname">Your new nickname</a>
    <a href="/adventure">Enter your new adventure</a>
  </div>
</div>