<h1 class="welcome">Welcome!</h1>
<div class="container">
  <div>
    <a class="button" href="/nickname">Your new nickname</a>
    <a class="button" href="/adventure">Enter your new adventure</a>
  </div>
</div>