
<h1 class="title">Here is your new name!<br><br>
<br>
<br>{{name}}</h1>
<br>
<br>
<br>
<h2 class="title"><a href="https://www.govt.nz/browse/passports-citizenship-and-identity/changing-your-name/">Please change your birth certificate</a></h2>
<br>
<br>
