
<h1 class="title">Here is your new name!<br><br>
<br>
<br>{{name}}</h1>
<br>
<br>
<br>
<h2 class="title">Please change your birth certificate</h2>
<br>
<br>
<a class="homeTag" href="https://buttonsandstuff.herokuapp.com">Home</a>