<h1 class="title">nice pic <br></h1> <img class="pic" src="{{image}}"> </a>
<p class="title" >{{comments}}</p> <br>
<form class="form" action="/adventure/{{id}}" method="post">
  <label for="comment" class="form-item">
    Add a new comment:
    <input type="text" name="comment" value="{{comment}}">
  </label>
  
  <input type="submit" name="" value="Submit">
</form>
<a class="homeTag" href="http://localhost:3000/">Home</a>